#container{

    margin-top: 8%;
    border-style: solid;
    border-radius: 15px;
    width: 400px;
    padding: 20px 20px 20px 20px;
    margin-left: 30%;
    background-color: black;
    color: white;
    font-size: 15px;


}
button{
    background-color: #3abc06;
    color: white;
    margin-top: 30px;
    font-size: 16px;
    font-weight: bold ;
}
#cont{
    margin-left: 18px;
    position: relative;
}
#check{
    margin-top: 20px;

    position: relative;
}
