#contenido{
    width: 70%;
    color: black;
    height: 550px;
    margin-left: 40%;
    overflow: scroll;

}
#infoPerfil{
    width:30%;
    float: left;
    height: 530px;

    background-color: #b5afaf;
}
#comIn{
   width: 560px;
}