#contenido{

    width: 100%;
    height: 500px;
    background-color: darkblue;
}
#infoPerfil{
    width:40%;
    float: left;
    height: 500px;
    background-color: #b5afaf;
}
#imgFon{
    width: 100%;
    height: 20%;
}