.container{
    height: 50px;
    color: white;
}
footer{
    background-color: black;
    text-align: center;
}
#copyright{
    color: white;
    font-family: "Arial Black";
    font-size: 15px;
}
.row{
    padding-top: 10px;
}
