nav{
    background-color: black;
    height: 30%;
}
nav a{
    position: relative;
    text-align: left;
    color: white;
}
#logo{
    width: 100px;
    margin-right: 70%;
    padding-top: 10px;
    padding-left: 30px;
}

#unirse{
    background-color: #3abc06;
}
#iniciar{

}
#contenedor {
    width: 100%;
}
#botones{

    margin-left: 60%;
    position: relative;

}
