nav{
    background-color: black;
    height: 20%;
}
nav a{
    position: relative;
    text-align: left;
    color: white;
}
#logo{
    padding-top: 10px;
    padding-left: 30px;
}
divbutton{
    font-family: "Arial Black";
    border-radius: 20px;


}
#unirse{
    background-color: #3abc06;
}
#iniciar{

}
#botones{
    float: left;
    padding-left: 60%;
}
